@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.find {
  background: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

  &__wrapper {
    padding: 124px 0px;
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: 54px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 33px;
  }

  &__text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
    max-width: 460px;
    margin: 0 auto;
  }
}

@media (max-width: 472px) {
  .find__title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .find__text {
    max-width: 264px;
  }
}

//find====================================

//menu====================================

.menu {
  padding: 41px 0px;
  border-bottom: 3px solid #d9d9d9;
  &__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all ease-in-out 0.3s;

    li {
      color: #333332;
      font-size: 17px;
      font-family: Poppins;
      font-weight: 700;
      line-height: 21px;
      cursor: pointer;
    }
  }

  &__btn {
    display: none;
    transition: all ease-in-out 0.3;
  }
}

@media (max-width: 1306px) {
  .menu__ul {
    padding: 0px 10px;
  }
}

@media (max-width: 768px) {
  .menu__ul {
    flex-direction: column;
    max-height: 23px;
    overflow-y: hidden;

    li {
      margin-bottom: 20px;
    }
  }

  .menu {
    padding: 15px 0px;

    &__btn {
      position: absolute;
      right: calc(50% - 90px);
      top: -10px;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
    }
  }

  .japandi {
    background: 0 !important;
  }

  .mini {
    background: url("./assets/japandi/bg.png") no-repeat;
    background-size: 100% 80%;
  }
}

//menu====================================

.subtitle {
  color: var(--highlight, #32c97c);
  font-size: 17px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 13px;
}

.title {
  color: var(--text, #333332);
  font-size: 80px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  color: var(--text, #333332);
  font-size: 16px;
  font-family: Lato;
  line-height: 28px;
  max-width: 579px;
  text-align: left;
}

.icons-wrapper {
  display: flex;
}

.li {
  display: flex;
}

.li-text {
  max-width: 215px;

  color: var(--text, #333332);
  font-size: 17px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21px;
  margin-left: 15px;
}

.image {
  order: 2;
  margin-top: 38px;
  position: relative;
  width: 100%;
  padding-bottom: 45%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-and-image-wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  order: 1;
}

@media (max-width: 1472px) {
  .wrapper {
    padding: 0px 10px;
  }
}

@media (max-width: 1197px) {
  .icons-wrapper {
    flex-direction: column;
  }

  .li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .li-text {
    max-width: 100%;
  }

  .top {
    padding: 0px 20px;
  }
}

@media (max-width: 925px) {
  .block {
    display: block;
  }

  .icons-wrapper {
    margin-top: 30px;
  }

  .image {
    order: 1;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .contemp {
    padding-top: 0 !important;
  }

  .mini {
    padding-top: 0 !important;
  }

  .like__wrapper {
    padding-bottom: 74px !important;
  }

  .top {
    order: 2;
  }

  .text {
    max-width: 100%;
  }
}

.small-image {
  display: none;
}

@media (max-width: 725px) {
  .title {
    font-size: 36px;
    line-height: 60px;
  }

  .image {
    padding-bottom: 113%;

    img {
      object-position: 0 0;
      object-fit: none;
    }
  }

  .top {
    text-align: center !important;
  }

  .text {
    text-align: center;
  }

  .icons-wrapper {
    align-items: center;
  }

  .big-image {
    display: none;
  }

  .small-image {
    display: block;
  }

  .image {
    padding-bottom: 113%;

    img {
      object-fit: cover;
    }
  }
}

.dors {
  display: flex;
  align-items: center;
}

.slider-btn {
  flex: 0 0 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--text, #333332);
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
  user-select: none;
}

.swiper-wrapper {
  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-lock {
  display: flex !important;
}

.slider__text {
  color: var(--text, #333332);
  text-align: center;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 26px;
  margin-top: 11px;
}

.dors {
  margin-top: 74px;
}

.like {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
  }
  &__text {
    color: var(--text, #333332);
    font-size: 16px;
    font-family: Lato;
    line-height: 28px;
  }
}

.link {
  border-radius: 3px;
  background: var(--highlight, #32c97c);
  width: 219px;
  height: 57px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 40px;
}

.contemp {
  background: url("./assets/contepBg.jpg");
  background-size: 100% 37%;
  background-repeat: no-repeat;
}

@media (max-width: 909px) {
  .contemp {
    background-position: 0;
    background-size: 100% 63%;
  }

  .mini {
    padding-top: 32px;
  }

  .wrapper {
    padding: 0;
  }

  .dors {
    margin-top: 53px;
  }

  .like__text {
    display: none;
  }

  .link {
    margin-left: 0;
  }

  .like__wrapper {
    margin-top: 68px;
  }

  .dors {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.like__wrapper {
  padding-bottom: 94px;
}

.japandi {
  background: url("./assets/japandi/bg.png") no-repeat;
  background-position: bottom;
}

@media (max-width: 493px) {
  .dors {
    position: relative;
  }

  .slider-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 2;
  }

  .left-btn {
    left: calc(15% - 4px);
  }

  .right-btn {
    right: calc(15% - 4px);
  }
}
